*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}
body {
  background: url("../img/Home_index/bg.jpg") center no-repeat;
  background-size: cover;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #240229;
  z-index: 999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;

  .loader-container {
    position: relative;
    width: 100px;
    height: 100px;

    .loader {
      position: relative;
      width: 100px;
      height: 100px;
      left: 50px;
      top: 50px;
      border-radius: 50%;
      background: linear-gradient(#14ffe9, #ffeb4b, #ff00e0);
      transform: translate(-50%, -50%);
      animation: 1s spin infinite linear;
    }
    .loader span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(#14ffe9, #ffeb4b, #ff00e0);
    }
    .loader span:nth-child(1) {
      filter: blur(5px);
    }
    .loader span:nth-child(2) {
      filter: blur(10px);
    }
    .loader span:nth-child(3) {
      filter: blur(25px);
    }
    .loader span:nth-child(4) {
      filter: blur(50px);
    }
    .loader::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: #240229;
      border-radius: 50%;
    }
    .load-text{
      position: absolute;
      width: 100%;
      left: 0;
      top: 35px;
      text-align: center;
      font-size: 24px;
      
      color: #fff;
    }
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.bg-color {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 38, 63, 0.6);
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  height: max-content;
}

header {
  display: grid;
  margin-bottom: 150px;
  padding-top: 20px;
  grid-template-columns: 180px 1fr max-content;

  .logo {
    grid-column: 1/2;
    padding: 0 10px;
    text-shadow: 2px 2px 8px #000;

    .logo-symbol {
      font-size: 20px;
      font-weight: 900;
      color: #751717;
    }
    .logo-text {
      font-size: 28px;
      font-weight: 600;
      font-style: italic;
      color: #636116;
    }
  }
  .navigation {
    position: relative;
    grid-column: 3/4;

    .nav-container {
      list-style: none;

      li {
        position: relative;
        margin-right: 20px;
        float: left;
        text-shadow: 2px 2px 5px #000000;

        .nav-nav-container {
          position: absolute;
          display: none;
          left: -10px;
          top: 18px;
          width: max-content;
          height: max-content;
          list-style: none;
          padding: 5px 10px;
          background: linear-gradient(
            180deg,
            rgba(109, 145, 221, 0.3),
            rgba(123, 11, 175, 0.6)
          );
          border-radius: 5px 5px 10px 10px;
          box-shadow: 2px 2px 10px #000000;

          li {
            padding-top: 10px;
            float: inherit;
          }
          li:last-child {
            padding-bottom: 10px;
          }
        }
      }
      li:hover {
        .nav-nav-container {
          display: inline;
        }
      }
    }
  }
}

.home {
  margin: 100px 0 50px;
  justify-content: center;
  height: 500px;
  text-align: center;
  text-shadow: 2px 2px 8px #000;

  .home-title {
    margin-bottom: 20px;
    font-size: 52px;
    color: #fff;
  }
  .home-text {
    color: #a1a1a1;
    line-height: 1.6;
    font-size: 24px;
    .my-title {
      color: #751717;
    }
  }
}

.about-me{
  .my_photo{
    height: 300px;
    border-radius: 20%;
    box-shadow: 7px 7px 70px 20px #000;
    border: 5px solid #441a64;
  }
}


@media screen and (max-width: 639px){
  
}