.btn{
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 2px;
}

.btn_burg{
  display: block; 
  position: relative; 
  width: 50px;
  height: 50px;
  transition: 0.3s;

  .burg_line,
  .burg_line::after,
  .burg_line::before{
    position: absolute;
    top: 50%; margin-top: -2px;
    left: 50%; margin-left: -18px;
    width: 36px;
    height: 4px;
    background-color: #333333;
  }
  .burg_line::after,
  .burg_line::before{
    content: '';
    transition: 0.3s;
  }
  .burg_line::after{
    transform: translateY(10px);
  }
  .burg_line::before{
    transform: translateY(-10px);
  }
}

.btn_burg_active{
  border-radius: 50%;
  .burg_line{
    height: 0;
    margin-top: 0;
  }
  .burg_line::after{
    transform: rotate(45deg);
  }
  .burg_line::before{
    transform: rotate(-45deg);
  }
}



.btn_lang{
  width: 30px;    
}
.btn_lang:hover{
  box-shadow: 2px 2px 8px #000000;
}
.btn_lang:active{
  box-shadow: 1px 1px 5px #000000;
}