*, *::after, *::before { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; color: #000000; }

body { background: url("../img/Home_index/bg.jpg") center no-repeat; background-size: cover; }

.preloader { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; left: 0; top: 0; width: 100%; height: 100%; background: #240229; z-index: 999; -webkit-transition: 1s all; transition: 1s all; opacity: 1; visibility: visible; }

.preloader .loader-container { position: relative; width: 100px; height: 100px; }

.preloader .loader-container .loader { position: relative; width: 100px; height: 100px; left: 50px; top: 50px; border-radius: 50%; background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb4b), to(#ff00e0)); background: linear-gradient(#14ffe9, #ffeb4b, #ff00e0); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-animation: 1s spin infinite linear; animation: 1s spin infinite linear; }

.preloader .loader-container .loader span { position: absolute; width: 100%; height: 100%; border-radius: 50%; background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb4b), to(#ff00e0)); background: linear-gradient(#14ffe9, #ffeb4b, #ff00e0); }

.preloader .loader-container .loader span:nth-child(1) { -webkit-filter: blur(5px); filter: blur(5px); }

.preloader .loader-container .loader span:nth-child(2) { -webkit-filter: blur(10px); filter: blur(10px); }

.preloader .loader-container .loader span:nth-child(3) { -webkit-filter: blur(25px); filter: blur(25px); }

.preloader .loader-container .loader span:nth-child(4) { -webkit-filter: blur(50px); filter: blur(50px); }

.preloader .loader-container .loader::after { content: ""; position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; background: #240229; border-radius: 50%; }

.preloader .loader-container .load-text { position: absolute; width: 100%; left: 0; top: 35px; text-align: center; font-size: 24px; color: #fff; }

.preloader.done { opacity: 0; visibility: hidden; }

@-webkit-keyframes spin { from { -webkit-transform: translate(-50%, -50%) rotate(0deg); transform: translate(-50%, -50%) rotate(0deg); }
  to { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin { from { -webkit-transform: translate(-50%, -50%) rotate(0deg); transform: translate(-50%, -50%) rotate(0deg); }
  to { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } }

.bg-color { width: 100%; height: 100%; background-color: rgba(39, 38, 63, 0.6); }

.container { margin: 0 auto; max-width: 1170px; height: -webkit-max-content; height: -moz-max-content; height: max-content; }

header { display: -ms-grid; display: grid; margin-bottom: 150px; padding-top: 20px; -ms-grid-columns: 180px 1fr max-content; grid-template-columns: 180px 1fr -webkit-max-content; grid-template-columns: 180px 1fr max-content; }

header .logo { -ms-grid-column: 1; -ms-grid-column-span: 1; grid-column: 1/2; padding: 0 10px; text-shadow: 2px 2px 8px #000; }

header .logo .logo-symbol { font-size: 20px; font-weight: 900; color: #751717; }

header .logo .logo-text { font-size: 28px; font-weight: 600; font-style: italic; color: #636116; }

header .navigation { position: relative; -ms-grid-column: 3; -ms-grid-column-span: 1; grid-column: 3/4; }

header .navigation .nav-container { list-style: none; }

header .navigation .nav-container li { position: relative; margin-right: 20px; float: left; text-shadow: 2px 2px 5px #000000; }

header .navigation .nav-container li .nav-nav-container { position: absolute; display: none; left: -10px; top: 18px; width: -webkit-max-content; width: -moz-max-content; width: max-content; height: -webkit-max-content; height: -moz-max-content; height: max-content; list-style: none; padding: 5px 10px; background: -webkit-gradient(linear, left top, left bottom, from(rgba(109, 145, 221, 0.3)), to(rgba(123, 11, 175, 0.6))); background: linear-gradient(180deg, rgba(109, 145, 221, 0.3), rgba(123, 11, 175, 0.6)); border-radius: 5px 5px 10px 10px; -webkit-box-shadow: 2px 2px 10px #000000; box-shadow: 2px 2px 10px #000000; }

header .navigation .nav-container li .nav-nav-container li { padding-top: 10px; float: inherit; }

header .navigation .nav-container li .nav-nav-container li:last-child { padding-bottom: 10px; }

header .navigation .nav-container li:hover .nav-nav-container { display: inline; }

.home { margin: 100px 0 50px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 500px; text-align: center; text-shadow: 2px 2px 8px #000; }

.home .home-title { margin-bottom: 20px; font-size: 52px; color: #fff; }

.home .home-text { color: #a1a1a1; line-height: 1.6; font-size: 24px; }

.home .home-text .my-title { color: #751717; }

.about-me .my_photo { height: 300px; border-radius: 20%; -webkit-box-shadow: 7px 7px 70px 20px #000; box-shadow: 7px 7px 70px 20px #000; border: 5px solid #441a64; }
