.btn { background: transparent; outline: none; cursor: pointer; border: 1px solid #333333; border-radius: 2px; }

.btn_burg { display: block; position: relative; width: 50px; height: 50px; -webkit-transition: 0.3s; transition: 0.3s; }

.btn_burg .burg_line, .btn_burg .burg_line::after, .btn_burg .burg_line::before { position: absolute; top: 50%; margin-top: -2px; left: 50%; margin-left: -18px; width: 36px; height: 4px; background-color: #333333; }

.btn_burg .burg_line::after, .btn_burg .burg_line::before { content: ''; -webkit-transition: 0.3s; transition: 0.3s; }

.btn_burg .burg_line::after { -webkit-transform: translateY(10px); transform: translateY(10px); }

.btn_burg .burg_line::before { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

.btn_burg_active { border-radius: 50%; }

.btn_burg_active .burg_line { height: 0; margin-top: 0; }

.btn_burg_active .burg_line::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.btn_burg_active .burg_line::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.btn_lang { width: 30px; }

.btn_lang:hover { -webkit-box-shadow: 2px 2px 8px #000000; box-shadow: 2px 2px 8px #000000; }

.btn_lang:active { -webkit-box-shadow: 1px 1px 5px #000000; box-shadow: 1px 1px 5px #000000; }
